<% if @ingredients.any? %>
  <h3>Here are all ingredients currently in your cook book</h3>
  <% @ingredients.each do |ing| %>
    <li><a href ="/ingredients/<%= ing.ing_name %>/<%= ing.id %>"><%= ing.ing_name %></a>
      &nbsp&nbsp&nbsp&nbsp
      <span class = "btn-group">
        <form action = "/ingredient/<%= ing.id %>" method = "post">
          <input name ="_method" type ="hidden" value ="delete">
          <button type = "submit" class="btn btn-danger">Delete</button>
        </form>
      </span>
      <p></p>
    </li>
  <% end %>
<% else %>
  <h3>Recipes with <%= @ingredient.ing_name %>:</h3>
  <% if @recipes.any? %>
    <ol>
      <% @recipes.each() do |recipe| %>
        <li><a href="/recipes/<%= recipe.rec_name %>/<%= recipe.id %>"><%= recipe.rec_name %></a></li>
      <% end %>
    </ol>
  <% end %>
<% end %>
